<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>
    
<div class="sidenav">
  <a href="#contact">Math</a>
  <button class="dropdown-btn">Lessons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Calculus</a>
      <button class="dropdown-btn">Lessons
      <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
         <a href="#">INEQUALITIES</a>
         <a href="#">ABSOLUTE VALUE/a>
         <a href="#">LINES/a>
         <a href="#">CIRCLES/a>
         <a href="#">FUNCTIONS AND THEIR GRAPHS/a>
         <a href="#">LIMITS/a>
         <a href="#">CONTINUITY/a>
         <a href="#">THE DERIVATIVE/a>
         <a href="#">THE CHAIN RULE/a>
         <a href="#">TRIGONOMETRIC FUNCTIONS AND THEIR DERIVATIVES/a>
         <a href="#">ROLLE'S THEOREM, THE MEAN VALUE THEOREM, AND THE SIGN OF THE DERIVATIVE/a>
         <a href="#">HIGHER-ORDER DERIVATIVES AND IMPLICIT DIFFERENTIATION/a>
         <a href="#">MAXIMA AND MINIMA/a>
         <a href="#">RELATED RATES/a>
         <a href="#">CURVE SKETCHING (GRAPHS)/a>
         <a href="#">APPLIED MAXIMUM AND MINIMUM PROBLEMS/a>
         <a href="#">RECTILINEAR MOTION/a>
         <a href="#">APPROXIMATION BY DIFFERENTIALS/a>
         <a href="#">ANTIDERIVATIVES (INDEFINITE INTEGRALS)/a>
         <a href="#">THE DEFINITE INTEGRAL AND THE FUNDAMENTAL THEOREM OF CALCULUS/a>
         <a href="#">AREA AND ARC LENGTH/a>
         <a href="#">VOLUME/a>
         <a href="#">THE NATURAL LOGARITHM/a>
         <a href="#">EXPONENTIAL FUNCTIONS/a>
         <a href="#">L'HOPITAL'S RULE/a>
         <a href="#">EXPONENTIAL GROWTH AND DECAY</a>
      </div>
    <a href="#">Algebra</a>
      <button class="dropdown-btn">Lessons
      <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
         <a href="#">Foundations</a>
         <a href="#">Linear Algebra and Graphs</a>
         <a href="#">System of Equations</a>
         <a href="#">Inequalities</a>
         <a href="#">Functions</a>
         <a href="#">Sequences</a>
         <a href="#">Absolute value & piecewise functions</a>
         <a href="#">Exponent and Radicals</a>
         <a href="#">Quadrtics</a>
         <a href="#">Irrational Numbers</a>
         <a href="#">Polynomials</a>
         <a href="#">Rational Exponents and Radicals</a>
         <a href="#">Exponential Models</a>
         <a href="#">Logarithms</a>
         <a href="#">Transformations of Functions</a>
         <a href="#">Equations</a>
         <a href="#">Trigonometry</a>
         <a href="#">Modeling</a>
         <a href="#">Rational Functions</a>
      </div>
    <a href="#">Probability</a>
      <button class="dropdown-btn">Lessons
      <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
         <a href="#">Link 1</a>
         <a href="#">Link 2</a>
         <a href="#">Link 3</a>
      </div>    
  </div>
  <a href="#contact">Machine Learning</a>
    <button class="dropdown-btn">Lessons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
    <a href="#contact">Artifical Intelligence</a>
    <button class="dropdown-btn">Lessons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
    
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    
    <script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>


    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
