<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>
    
<div class="sidenav">
  <a href="#contact">Math</a>
  <button class="dropdown-btn">Lessons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Calculus</a>
      <button class="dropdown-btn">Lessons
      <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
         <a href="#">Inequalities</a>
         <a href="#">Absolute Value</a>
         <a href="#">Lines and Circles</a>
         <a href="#">Functions and Their Graphs</a>
         <a href="#">Limits and Continuity</a>
         <a href="#">THE DERIVATIVE</a>
         <a href="#">THE CHAIN RULE</a>
         <a href="#">TRIGONOMETRIC FUNCTIONS AND THEIR DERIVATIVES</a>
         <a href="#">ROLLE'S THEOREM, THE MEAN VALUE THEOREM, AND THE SIGN OF THE DERIVATIVE</a>
         <a href="#">HIGHER-ORDER DERIVATIVES AND IMPLICIT DIFFERENTIATION</a>
         <a href="#">MAXIMA AND MINIMA</a>
         <a href="#">RELATED RATES</a>
         <a href="#">CURVE SKETCHING (GRAPHS)</a>
         <a href="#">APPLIED MAXIMUM AND MINIMUM PROBLEMS</a>
         <a href="#">RECTILINEAR MOTION</a>
         <a href="#">APPROXIMATION BY DIFFERENTIALS</a>
         <a href="#">ANTIDERIVATIVES (INDEFINITE INTEGRALS)</a>
         <a href="#">THE DEFINITE INTEGRAL AND THE FUNDAMENTAL THEOREM OF CALCULUS</a>
         <a href="#">AREA AND ARC LENGTH</a>
         <a href="#">VOLUME</a>
         <a href="#">THE NATURAL LOGARITHM</a>
         <a href="#">EXPONENTIAL FUNCTIONS</a>
         <a href="#">L'HOPITAL'S RULE</a>
         <a href="#">EXPONENTIAL GROWTH AND DECAY</a>
         <a href="#">INVERSE TRIGONOMETRIC FUNCTIONS</a>
         <a href="#">INTEGRATION BY PARTS</a>
         <a href="#">TRIGONOMETRIC INTEGRANDS AND SUBSTITUTIONS</a>
         <a href="#">INTEGRATION OF RATIONAL FUNCTIONS: THE METHOD OF PARTIAL FRACTIONS</a>
         <a href="#">INTEGRALS FOR SURFACE AREA, WORK, CENTROIDS</a>
         <a href="#">IMPROPER INTEGRALS</a>
         <a href="#">PLANAR VECTORS</a>
         <a href="#">PARAMETRIC EQUATIONS, VECTOR FUNCTIONS, CURVILINEAR MOTION</a>
         <a href="#">POLAR COORDINATES</a>
         <a href="#">Infinite Sequences and Infinite Series</a>
         <a href="#">POWER SERIES</a>
         <a href="#">TAYLOR AND MACLAURIN SERIES</a>
         <a href="#">VECTORS IN SPACE. LINES AND PLANES</a>
         <a href="#">FUNCTIONS OF SEVERAL VARIABLES</a>
         <a href="#">PARTIAL DERIVATIVES</a>
         <a href="#">DIRECTIONAL DERIVATIVES AND THE GRADIENT. EXTREME VALUES</a>
         <a href="#">MULTIPLE INTEGRALS AND THEIR APPLICATIONS</a>
         <a href="#">VECTOR FUNCTIONS IN SPACE. DIVERGENCE AND CURL. LINE INTEGRALS</a>
         <a href="#">Differential Equations</a>
      </div>
    <a href="#">Algebra</a>
      <button class="dropdown-btn">Lessons
      <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
         <a href="#">Foundations</a>
         <a href="#">Linear Algebra and Graphs</a>
         <a href="#">System of Equations</a>
         <a href="#">Inequalities</a>
         <a href="#">Functions</a>
         <a href="#">Sequences</a>
         <a href="#">Absolute value & piecewise functions</a>
         <a href="#">Exponent and Radicals</a>
         <a href="#">Quadrtics</a>
         <a href="#">Irrational Numbers</a>
         <a href="#">Polynomials</a>
         <a href="#">Rational Exponents and Radicals</a>
         <a href="#">Exponential Models</a>
         <a href="#">Logarithms</a>
         <a href="#">Transformations of Functions</a>
         <a href="#">Equations</a>
         <a href="#">Trigonometry</a>
         <a href="#">Modeling</a>
         <a href="#">Rational Functions</a>
         <a href="#">Vectors</a>
         <a href="#">Matrix Algebra</a>
         <a href="#">Systems of Linear Equations</a>
         <a href="#">Square Matrices</a>
         <a href="#">Determinants</a>
         <a href="#">Algebraic Syructure</a>
         <a href="#">Vector Spaces and Subspaces</a>
         <a href="#">Linear Dependence, Basis, Dimension</a>
         <a href="#">Mappings</a>
         <a href="#">Linear Mappings</a>
         <a href="#">Spaces of Linear Mappings</a>
         <a href="#">Matrices and Linear Mappings</a>
         <a href="#">Change of Basis, Similarity</a>
         <a href="#">Inner Product Spaces, Orthogonality</a>
         <a href="#">Polynomials over a Field</a>
         <a href="#">Eigenvalues, Eigenvectors, Diagonilization</a>
         <a href="#">Canonical Forms</a>
         <a href="#">Linear Functionals and the Dual Space</a>
         <a href="#">Bilinear, Quadratic, and Hermitian Forms</a>
         <a href="#">Linear Operations on Inner Product Spaces</a>
         <a href="#">Applications to Geometr and Calculus</a>     
      </div>
    <a href="#">Probability</a>
      <button class="dropdown-btn">Lessons
      <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
         <a href="#">Basic Probability</a>
         <a href="#">Random Variables and Probability Distributions</a>
         <a href="#">Mathematical Expectations</a>
         <a href="#">Special Probability Distribution</a>
         <a href="#">Moment Generating Functions</a>
         <a href="#">Chebyshev's Inequality</a>
         <a href="#">Sampling Theory</a>
         <a href="#">Estimation Theory</a>
         <a href="#">Tests of Hypotheses and Significance</a>
         <a href="#">Curve Fitting, Regression and Correlation</a>
         <a href="#">Analysis of Variance</a>
         <a href="#">CHI-SQUARE and Contingency Tables</a> 
         <a href="#">Non-parametric Tests</a> 
         <a href="#">Time Series and Index Numbers</a>
         <a href="#">Bayesian Methods</a>  
      </div>    
  </div>
  <a href="#contact">Machine Learning</a>
    <button class="dropdown-btn">Lessons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
    <a href="#contact">Artifical Intelligence</a>
    <button class="dropdown-btn">Lessons
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
    
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    
    <script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>


    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
